
.footer__list {
    border: 1px solid white(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    background-color: #B0876C;
    width: 100%;

    li  {
        display: flex;
        justify-content: center;
        border: 1px solid white;
        list-style-type: none;
        width: 100%;
        padding: 15px;

    }
    .footer__list--item{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        color: white;
    }

    .footer__list--followus {
        display: flex;
        justify-content: center;
        padding: 15px;
        color: white;
        
        .list__followus--icon{
            margin-left: 1rem;
            margin-right: 1rem;
            font-size: 22px;
        }
    }
    .footer__list--copyright {
        padding: 15px;
        position: relative;
        color: white;
    }
   
}