.details{ 
    display: flex;
    flex-direction: column;
    align-items: center;

    .details__card--container{
    
        
        .card__image{
            margin-top: -5px;
            border: 1px solid burlywood;
            width:90%;
            border-radius: 20px;
            margin-left: 19px;
            margin-bottom: 20px;
        }
        h3{
        font-style: italic;
        color: burlywood
        }

    }
    

        #accordion{
            margin-top: 45px;
           margin-left: -66px;
        .card{
            width: 80%;
            margin-bottom: 20px;
            margin-left: 66px;

            .card-header{
                background-color: #7A4D6C;
                opacity: 0.8;
                color: white;
                border-radius: 10px;
               
                .btn-link{
                    text-decoration: none;
                    color: black;
                    font-weight: 700;
                    text-align: center;
                }
            }  
        }
    }
    
}