*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Domaine Text Regular",sans-serif
  }
  .navegationBar{
list-style: none;
  }