.navigation{
  

.navigation__list {
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    list-style-type: none;

    .list--side-item {
     margin: 0.7rem;
     padding: 8px
    }
    .list--side-item-icon{
        font-size: 1.2rem;
        color: rgb(112,63,7)
       
    }
    .navigation__list--logo{
        margin: 0 auto
    }
    .navigation__list--logo-image{
        width: 130px;
        height: 44px;
    }
}
}
